/*
 *
 */

.brick-container {
    position: relative;
    overflow-x: hidden; // todo: toggle this off for center mode

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.brick-slider {
    /*
    todo: fix. or maybe start it at this and increment if we can tell the actual content is longer
    do something like: transform: translateX(-400px);
    */
    width: 10000px;
}

.brick-slide {
    // opacity: 0;

    // transition: 0.5s linear;
    // top: 0;
    // left: 0;
    float: left;
    // position: absolute;

    &.brick-active {
        // opacity: 1;
    }
}

.brick-arrow {
    position: absolute;
    top: 50%;

    /* temporary */
    height: 30px;
    width: 30px;

    &.prev {
        left: 5px;
    }

    &.next {
        right: 5px;
    }
}


/* test stuff */
.my-class {
    width: 1000px;
}
