// Main styles for the carousel

@import "vars";
@import "mixins";

.brick-container {
    position: relative;
    overflow-x: hidden; // todo: toggle this off for center mode

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.brick-slider {
    /*
    todo: fix. or maybe start it at this and increment if we can tell the actual content is longer
    or just keep this as an initial value and change it once brick initializes
    */
    width: 10000px;
    position: relative;

    transition: $animationDuration; // TODO: set as sass variable if this ends up being reused
    transform: translateX(0) translateZ(0); // translateZ for GPU acceleration
}

.brick-slide {
    // opacity: 0;

    // transition: 0.5s linear;
    // top: 0;
    // left: 0;
    float: left;
    // position: absolute;

    &.brick-active {
        // opacity: 1;
    }
}

.brick-dots {
    display: inline-block;
}

.brick-arrow {
    position: absolute;
    top: 50%;

    /* temporary */
    height: 30px;
    width: 30px;

    &.prev {
        left: 5px;
    }

    &.next {
        right: 5px;
    }
}

.bump-left {
    @include animation(bump-left, $animationDuration);
}

.bump-right {
    @include animation(bump-right, $animationDuration);
}


/* Create the animations */
@include bumpAnimation(bump-left, left);
@include bumpAnimation(bump-right, right);
